.rating {
	margin: 0;
	color: var(--color-grey-light);
}

.star {
	color: var(--color-grey-light);
	border-radius: 2px;

	transition: color 0.3s ease-in-out;

	svg {
		margin-right: 2px;
	}
}

.editable {
	cursor: pointer;
}

.filled {
	svg {
		color: var(--color-primary);
	}
}
