.button {
	display: inline-block;

	cursor: pointer;
	
	box-sizing: border-box;
	padding: 10px;

	border: none;
	border-radius: 5px;

	font-size: 14px;

	transition: color 0.3s, background-color 0.3s;
}

.primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.primary:hover {
	background-color: var(--color-primary-hover);
}

.ghost {
	background-color: transparent;
	color: var(--color-black);
	border: 1px solid var(--color-gray);
}

.ghost:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.arrow {
	display: inline-block;
	margin-left: 8px;

	transition: transform 0.3s;
}

.down {
	transform: rotate(90deg);
}

.right {
	transform: rotate(0deg);
}